**/.terraform/*
**/.terraform.lock.hd 
**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
.terraformrc
terraform.rc
*_override.tf
*_override.tf.json
backend.tf
tfplan
*.plan
.vscode/
.idea/
*.swp
*.swo
get_helm.sh
gha-creds-*.json